.user-info {
    height: 32px;
    line-height: 32px;
    span {
        height: 32px;
        line-height: 32px;
        margin-left: 20px;
        svg {
            width: 26px;
            height: 26px;
        }
    }
}