.capsule-select {
  margin: 10px 0;
  :global {
    .ant-radio-group {
      .ant-radio-button-wrapper {
        min-width: 80px;
        margin: 0 10px;
        border: 1px solid #d9d9d9;
        border-radius: 25px;
        letter-spacing: 1px;
        &:hover {
          color: #91ad41;
        }
        &::before {
          content: unset;
        }
      }
      .ant-radio-button-wrapper-checked {
        background: #91ad41 !important;
        border-color: #91ad41 !important;
        &:focus-within {
          box-shadow: 0 0 0 3px rgb(220 255 210) !important;
        }
      }
    }
  }
}
