.footer-top {
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(232, 218, 199, 0.6);
  width: 100%;
  .promotion-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    h3 {
      font-weight: bold;
      font-size: 28px;
      letter-spacing: 3px;
      margin-bottom: 0px;
    }
    .promotion-form {
      position: relative;
      width: 500px;
      .ant-input-affix-wrapper {
        height: 42px;
        border-radius: 30px;
        padding-right: 95px;
        padding-left: 20px;
        border: none;
        box-shadow: none !important;
        &:hover,
        &:focus {
          border: none;
        }
      }
      .promotion-button {
        position: absolute;
        cursor: pointer;
        user-select: none;
        width: 90px;
        height: 42px;
        top: 0px;
        right: 0px;
        font-weight: bold;
        border-radius: 30px;
        background-image: linear-gradient(35deg, #91ad41 0%, #ff8a6c 100%);
        background-color: #91ad41;
        color: white;
        &:hover {
          background: #91ad41 !important;
          border-color: unset;
        }
        &:active {
          box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
        }
      }
    }
  }
}

.footer-bottom {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1140px;
  min-width: 940px;
  padding: 30px 0;
  .footer-logo {
    img {
      width: 200px;
    }
  }
  .info-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size: 14px;
    .info-contact-container {
      h3 {
        font-weight: 700;
      }
      .info-contact-content {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          margin-top: 15px;
          line-height: 32px;
        }
        span svg {
          width: 20px;
          height: 20px;
          position: relative;
          top: 2px;
        }
        .info-contact-text {
          margin-left: 10px;
          color: #5e5e5e;
        }
      }
    }
  }
}
