.input-wrapper {
  span svg {
    position: relative;
    top: 2px;
    color: #8c8c8c;
    width: 18px;
    height: 18px;
  }
  .number-input-box {
    border-radius: 15px;
    margin: 0px 10px;
    input {
      border-radius: 15px;
      text-align: center;
    }
  }
}
